body{
    background-color: bisque;
}
.element{
    text-align: center;
    text-decoration: solid;
    text-rendering: geometricPrecision;
    background-color: brown;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;
}
td{
    padding: 15px;
}